.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.data-info {
    background-image: url('/static/images/back.jpeg');
    background-size: cover;
}

/* .data-info image {
    opacity: 0.5;
} */