.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
}

/* .data-info {
    border-left: 2px solid red; 
    border-right: 20px solid red;
} */

/* .data-info image {
    opacity: 0.5;
} */