/* Body styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #5f5f5f;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 5px;
} */

body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: solid 3px transparent; */

  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: solid 1px transparent;
}
body::-webkit-scrollbar-thumb {
  /* background-color: darkgrey; */
  /* outline: 1px solid slategrey; */
  border-radius: 15px;
  /* border: solid 3px transparent; */

  box-shadow: inset 0 0 10px 10px darkgrey;
  border: solid 1px transparent;
}
/* Scrollbar buttons (arrows) */

::-webkit-scrollbar-button:single-button {
  background-color: rgb(231, 231, 231);
  margin-bottom: 3px;
  display: block;
  border-style: solid;
  height: 13px;
  width: 10px;
}

/* Up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

/* Hover effect for up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

/* Down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

/* Hover effect for down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

/* Main container CSS */

.main-container {
  width: 90%;
  margin: auto;
}

.container {
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-family: Verdana;
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.curr-products {
  width: 80%;
  margin: auto;

  .btns {
    padding: 15px;
    width: 100%;

    .add-btn {
      float: right;
    }

    .add-btn:active {
      color: tan;
    }

    .del-btn:active {
      color: orange;
    }
  }

  .product-table {
    margin-top: 50px;
  }
}

/* Button used to open the popup form */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(
    248,
    248,
    248
  ); /* Less dark and slightly transparent background */
  color: black; /* Changed text color to white */
  transition: all 0.3s;
  z-index: 3;
  overflow-y: auto;
  padding-top: 10px; /* Reduced space above the logo */
  border-right: 1px solid #dee2e6;
  box-shadow: 2px 0px 1px 0.5px #888888;
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.sidebar-toggle {
  text-align: center;
  margin-bottom: 10px; /* Adjust as needed */
}

#sidebar ul .nav-item {
  background-color: rgb(248, 248, 248);
}

#sidebar ul.nav {
  margin-top: 20px; /* Increased space above the menu */
  padding-left: 0;
}

#sidebar ul.nav li {
  margin-bottom: 5px; /* Added margin between menu items */
}

/* Custom Styles */
.custom-nav .nav-link {
  color: #333; /* Text color */
  border-radius: 10px;
}

.custom-nav .nav-link:hover {
  background-color: #d0e6fc; /* Hover background color */
  color: #007bff; /* Hover text color */
}

.custom-nav .nav-link.active {
  background-color: #007bff; /* Active background color */
  color: #fff; /* Active text color */
}

#content {
  /* Adjusted margin for the content area */
  transition: all 0.2s;
  padding: 20px;
}

/* Add your custom styling for the login form */
.container {
  margin-top: 50px; /* Adjust vertical spacing */
}

.login-card {
  border: none; /* Remove default card border */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.card-img-top {
  position: relative; /* Position relative for absolute positioning */
  overflow: hidden; /* Hide overflow for image */
  height: 100px; /* Set card image height */
}

.card-img-top img {
  width: 100%; /* Set image width to fill container */
  height: 100%; /* Set image height to fill container */
  object-fit: cover; /* Cover image */
}

.card-body {
  padding: 30px; /* Add padding to card body */
}

.form-group {
  margin-bottom: 20px; /* Space between form elements */
}

.form-control {
  border: 1px solid #ced4da; /* Border color */
  border-radius: 5px; /* Rounded corners */
}

.btn-primary {
  background-color: #007bff; /* Primary button color */
  border: none; /* No border */
  color: #fff; /* Button text color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.text-center {
  text-align: center; /* Center-align text */
}

.mb-4 {
  margin-bottom: 1.5rem; /* Large bottom margin */
}

.mb-0 {
  margin-bottom: 0; /* No bottom margin */
}

/* Add your custom styling for the register form */
.login-card {
  border: none; /* Remove default card border */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  position: relative; /* Position relative for absolute positioning */
}

.card-img-top {
  position: relative;
}

.card-img-top img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 30px; /* Add padding to card body */
}

.form-group {
  margin-bottom: 20px; /* Space between form elements */
}

.form-control {
  border: 1px solid #ced4da; /* Border color */
  border-radius: 5px; /* Rounded corners */
}

.btn-primary {
  background-color: #007bff; /* Primary button color */
  border: none; /* No border */
  color: #fff; /* Button text color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.text-center {
  text-align: center; /* Center-align text */
}

.mb-4 {
  margin-bottom: 1.5rem; /* Large bottom margin */
}

.mb-0 {
  margin-bottom: 0; /* No bottom margin */
}

/* Add your custom styling here */
body {
  color: #fff; /* Text color for readability */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #007bff; /* Dark background color */
  padding-top: 150px; /* Same height as the navigation bar */
}

.content {
  margin-left: 250px; /* Adjust sidebar width */
  padding-top: 50px; /* Same height as the navigation bar */
  height: 100vh; /* Take up remaining height */
  overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
}

.navbar {
  /* Custom styles for the top navigation bar */
  border-radius: 0;
  height: 50px; /* Reduced height */
}

.navbar-brand {
  font-size: 1.5rem; /* Adjust font size */
  font-weight: bold; /* Bold font weight */
  color: #ffd700; /* Golden color */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem; /* Adjust padding */
  color: #ffd700; /* Golden color */
}

.navbar-nav .nav-link:hover {
  background-color: rgba(
    255,
    215,
    0,
    0.5
  ); /* Hover background color with transparency */
}

.bg-dark-golden {
  background-image: linear-gradient(
    to right,
    #8b5a2b,
    #cd853f
  ); /* Dark golden gradient */
}

.logo-animation {
  transition: transform 0.1s, filter 0.1s; /* Add transition for smoother animation */
  cursor: pointer;
}

.logo-animation:hover {
  transform: scale(1.2);
  filter: brightness(1.1); /* Increase brightness by 20% when hovered over */
}

.sub-menu-wrap {
  position: absolute;
  top: 13%;
  right: 1%;
  width: 16rem;
  border-radius: 3px;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 255, 254);
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu-profile {
  background-color: rgb(251, 255, 254);
  padding: 20px;
  margin: 2px;
}

.sub-menu-profile hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 15px 0 10px;
  background: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
  color: black;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu-profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-profile-link p {
  width: 100%;
  margin: 10px 0;
}

.sub-menu-profile-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-profile-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-profile-link:hover span {
  transform: translateX(5px);
}

.sub-menu-profile-link:hover p {
  font-weight: 600;
}

select {
  margin-left: 30px;
  border-radius: 5px;
  padding: 1.5px 10px;
}

.pie-card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#pieChart {
  width: 100%;
  height: 300px;
}

.confirm-box {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  background: #fff;
  text-align: center;
  font-family: Verdana;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

