{% extends "base.html" %} {% block nav %}
<li class="nav-item list-group-item">
  <a class="nav-link" aria-current="page" href="/home">
    <img
      src="{{url_for('static', filename='/images/dashboard.png')}}"
      alt="dashboard"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Dashboard</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link active" href="/getProducts">
    <img
      src="{{url_for('static', filename='/images/products.png')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Products</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getCategories">
    <img
      src="{{url_for('static', filename='/images/categories.jpg')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Categories</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/orders">
    <img
      src="{{url_for('static', filename='/images/orders.png')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Orders</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getUsers">
    <img
      src="{{url_for('static', filename='/images/users.jpg')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Users</p>
  </a>
</li>
{% endblock %}

{% block username %}
<h3>{{ username }}</h3>
{% endblock %}

{% block role %}
<h5>Role: {{ role }}</h5>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/getProducts">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Products</li>
  </ol>
</nav>

<div class="main-container">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 10px; margin-top: -30px">
      EDIT PRODUCTS
    </h2>
  </div>
  <hr />

  <!-- Add product button -->

  <div class="row" style="margin-left: 25%; width: 100%">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Edit Product</strong> </em>
        </div>
        <div class="card-body">
          <form id="productForm" action="/editProduct" method="post">
            <!-- <input type="hidden" name="id" id="id" value="0"> -->

            <div class="mb-3">
              <label for="product" class="form-label">Select Product &nbsp;</label>
              <select name="selected_product" id="sp">
                <option value="">--Select Product--</option>
                <hr>
                {% for name in product_names %}
                <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="productName" class="form-label">Product Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter product name"
                name="name"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="productPrice" class="form-label"
                >Product Price per Unit</label
              >
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="Enter product price"
                name="price"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="productStock" class="form-label"
                >Stock (No. of Units)</label
              >
              <input
                type="number"
                class="form-control"
                id="stock"
                placeholder="Enter no. of units"
                name="stock"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="productCategory" class="form-label">Category &nbsp;</label>
              <select name="category" id="category">
                <option value="">--Select Category--</option>
                <hr>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
            <input
              class="btn btn-primary"
              type="submit"
              value="Edit Product"
              style="display: inline-block"
            />
          </form>
          <div class="mb-3" style="float: right">
            <a href="/getProducts">
              <button class="btn btn-info">Return</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js_script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="{{ url_for('static', filename='/js/manage_products.js') }}"></script> -->
{% endblock %}
