{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/style.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

<style>
  .card-animation {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-animation:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
    transition-timing-function: ease-in-out;
  }

  .data-info-1:hover {
    border-left: 2px solid #f7093b; 
    border-right: 15px solid #f7093d84;
  }
  .data-info-2:hover {
    border-left: 2px solid #2cd27e; 
    border-right: 15px solid #2cd27f7b;
  }
  .data-info-3:hover {
    border-left: 2px solid #3ae5e7; 
    border-right: 15px solid #3ae4e780;
  }
  .data-info-4:hover {
    border-left: 2px solid #fca53e; 
    border-right: 15px solid #fca63e78;
  }
</style>
{% endblock %} {% block nav %}
<li class="nav-item list-group-item">
  <a class="nav-link active" aria-current="page" href="/home">
    <img
      src="{{url_for('static', filename='/images/dashboard.png')}}"
      alt="dashboard"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Dashboard</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getProducts">
    <img
      src="{{url_for('static', filename='/images/products.png')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Products</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getCategories">
    <img
      src="{{url_for('static', filename='/images/categories.jpg')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Categories</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/orders">
    <img
      src="{{url_for('static', filename='/images/orders.png')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Orders</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getUsers">
    <img
      src="{{url_for('static', filename='/images/users.jpg')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Users</p>
  </a>
</li>
{% endblock %} {% block username %}
<h3>{{ username }}</h3>
{% endblock %} 

{% block role %}
<h5>Role: {{ role }}</h5>
{% endblock %}

{% block body %}
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav> -->
<div class="container mt-5" style="width: 92%">
  <div class="row">
    <!-- displaying products count -->
    <div class="col-sm-6" style="width: 270px">
      <div class="card card-animation data-info-1" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text">{{ product_count }}</p>
        </div>
        <div class="show-products" style="margin: 10px">
          <a href="/getProducts">
            <button type="button" class="btn btn-outline-secondary add-btn">
              <span style="font-weight: bold">Show Products</span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- displaying categories count -->

    <div class="col-sm-6" style="width: 270px">
      <div class="card card-animation data-info-2" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <p class="card-text">{{ category_count }}</p>
        </div>
        <div class="show-orders" style="margin: 10px">
          <a href="/getCategories">
            <button type="button" class="btn btn-outline-secondary add-btn">
              <span style="font-weight: bold">Show Categories</span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- displaying orders count -->

    <div class="col-sm-6" style="width: 270px">
      <div class="card card-animation data-info-3" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Total Sales (Rs)</h5>
          <p class="card-text">{{ total_sales }}</p>
        </div>
        <div class="show-orders" style="margin: 10px">
          <a href="/orders">
            <button type="button" class="btn btn-outline-secondary add-btn">
              <span style="font-weight: bold">Show Orders</span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- displaying users count -->

    <div class="col-sm-6" style="width: 270px">
      <div class="card card-animation data-info-4" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">{{ user_count }}</p>
        </div>
        <div class="show-orders" style="margin: 10px">
          <a href="/getUsers">
            <button type="button" class="btn btn-outline-secondary add-btn">
              <span style="font-weight: bold">Show Users</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- displaying important data -->

<div class="container" style="width: 92%">
  <!-- Piechart - categories -->

  <div class="mini-container" style="margin-bottom: 50px">
    <div class="card pie-card card-animation">
      <div class="card-header">
        <i class="fas fa-box me-1"></i>
        <em> <strong>Most popular Categories</strong> </em>
      </div>
      <div class="card-body" style="padding-bottom: 25px">
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>

  <!-- displaying product List -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4 card-animation">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Highest selling Products</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr style="border: 1px solid black">
                <th scope="col">Name</th>
                <th scope="col">Units sold</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              {% for product in highest_selling %}
              <tr style="border: 1px solid black">
                <td>{{ product.product_id }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.total_price }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Display product List -->

    <div class="col-lg-6">
      <div class="card mb-4 card-animation">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Recently added Products</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr style="border: 1px solid black">
                <th scope="col">Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit Price</th>
              </tr>
            </thead>
            <tbody>
              {% for product in recent_products %}
              <tr style="border: 1px solid black">
                <td>{{ product.name }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.price_per_unit }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- displaying order lists -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4 card-animation">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Products low in stock</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr style="border: 1px solid black">
                <th scope="col">Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
              {% for product in low_stocks %}
              <tr style="border: 1px solid black">
                <td>{{ product.name }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="show-orders" style="margin: 10px; float: right">
            <a href="/getProducts">
              <button type="button" class="btn btn-outline-secondary add-btn">
                <span style="font-weight: bold">See Products</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- displaying pending orders -->

    <div class="col-lg-6">
      <div class="card mb-4 card-animation">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Pending Orders</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr style="border: 1px solid black">
                <th scope="col">Name</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in pending_orders %}
              <tr style="border: 1px solid black">
                <td>{{ order.customer_name}}</td>
                <td>{{ order.product_id }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="show-orders" style="margin: 10px; float: right">
            <a href="/orders">
              <button type="button" class="btn btn-outline-secondary add-btn">
                <span style="font-weight: bold">See Orders</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
  // Function to fetch data for the pie chart
  function fetchDataForPieChart() {

    var categoryData = JSON.parse('{{ popular_categories | tojson | safe }}');

    var data = {
      // labels: ["Category 1", "Category 2", "Category 3", "Category 4"],
      labels: Object.keys(categoryData),
      datasets: [
        {
          label: "Most Popular Categories",
          data: Object.values(categoryData), // Sample data, replace with actual data
          backgroundColor: [
            "rgba(255, 99, 132, 0.6)",
            "rgba(54, 162, 235, 0.6)",
            "rgba(255, 206, 86, 0.6)",
            "rgba(75, 192, 192, 0.6)",
            "rgba(89, 69, 222, 0.6)",
            "rgba(175, 92, 112, 0.6)"
          ],
          borderColor: [
            "rgba(250, 94, 127, 1)",
            "rgba(49, 157, 230, 1)",
            "rgba(250, 201, 81, 1)",
            "rgba(70, 187, 187, 1)",
            "rgba(84, 64, 217, 1)",
            "rgba(170, 87, 107, 1)"
          ],
          borderWidth: 1,
        },
      ],
    };
    return data;
  }

  <!-- rgba(250, 94, 127, 1) -->


  // Function to create and render the pie chart
  function createPieChart() {
    var ctx = document.getElementById("pieChart").getContext("2d");
    var data = fetchDataForPieChart();

    var pieChart = new Chart(ctx, {
      type: "pie",
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          title: {
              display: true,
              text: 'Categories',
              padding: {
                  top: 10,
                  bottom: 20
              },
              font: {
                  size: 18,
                  weight: 'bold'
              }
          },
          datalabels: {
            color: "#fff",
            anchor: "end",
            align: "start",
            offset: 10,
            font: {
              size: 14,
              weight: "bold",
            },
            formatter: (value, ctx) => {
              return value + "%"; // Format label as Value%
            },
          },
        },
        legend: {
          position: "bottom",
        },
      },
    });
  }

  // Call the function to create and render the pie chart
  createPieChart();
</script>
{% endblock %}
