{% extends "base.html" %} {% block nav %}
<li class="nav-item list-group-item">
  <a class="nav-link" aria-current="page" href="/home">
    <img
      src="{{url_for('static', filename='/images/dashboard.png')}}"
      alt="dashboard"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Dashboard</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getProducts">
    <img
      src="{{url_for('static', filename='/images/products.png')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Products</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getCategories">
    <img
      src="{{url_for('static', filename='/images/categories.jpg')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Categories</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link active" href="/orders">
    <img
      src="{{url_for('static', filename='/images/orders.png')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Orders</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getUsers">
    <img
      src="{{url_for('static', filename='/images/users.jpg')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Users</p>
  </a>
</li>
{% endblock %}

{% block username %}
<h3>{{ username }}</h3>
{% endblock %}

{% block body %}
<div class="container mt-5" style="width: 92%; margin: auto">
  <h2
    class="text-center mb-4"
    style="font-family: Verdana; margin-top: -30px; margin-bottom: 10px"
  >
    MANAGE ORDERS
  </h2>
  <hr />
  <!-- Add Order Button -->
  <button
    type="button"
    class="btn btn-outline-dark add-btn mb-3"
    data-bs-toggle="modal"
    data-bs-target="#addOrderModal"
    style="font-weight: bold"
  >
    Add Order
  </button>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover rounded">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">Customer Name</th>
          <th scope="col" style="display: none">Order ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
          <th scope="col">Status</th>
          <th scope="col" colspan="2" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.customer_name }}</td>
          <td style="display: none">{{ order.id }}</td>
          <td>{{ order.product_id }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.total_price }}</td>
          <td>{{ order.order_status }}</td>
          <td style="text-align: center;">
            <a href="editorder.html">
              <button type="button" class="btn btn-warning" style="width: 80%;">
              Edit
            </button>
            </a>
          </td>

          <td style="text-align: center;">
            <form action="/deleteOrder" method="post">
              <input
                type="text"
                name="id"
                value="{{ order.id }}"
                style="display: none"
              />
              <input
                class="btn btn-danger"
                type="submit"
                value="Delete"
                onclick="return confirm('Are you sure you want to delete this product?')"
              />
            </form>
          </td>
        </tr>

        <!-- edit order Modal -->

        <div
          class="modal fade"
          id="editOrderModal"
          tabindex="-1"
          aria-labelledby="editProductModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editOrderModalLabel">Edit Order</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Form to edit Order -->
                <form action="/editOrder" method="post" id="edit-order-form">
                  <div class="mb-3">
                    <label for="customerName" class="form-label"
                      >Edit Customer Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="customerName"
                      name="customer_name"
                      value=""
                      placeholder="Enter customer name"
                    />
                  </div>

                  <div class="mb-3">
                    <input
                      type="text"
                      name="id"
                      value="{{ order.id }}"
                      style="display: none"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="productName" class="form-label"
                      >Change Product</label
                    >
                    <select name="product_name" id="product_name">
                      {% for product in products %}
                      <option value="{{ product }}">{{ product }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="quantity" class="form-label"
                      >New Quantity</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="quantity"
                      name="quantity"
                      placeholder="Enter new quantity"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="status" class="form-label">New Status</label>
                    <select name="order_status" id="status">
                      <option value="pending">Pending</option>
                      <option value="completed">Completed</option>
                      <option value="in progress">In Progress</option>
                    </select>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="submit"
                      class="btn btn-outline-success"
                      onclick="return confirm('Are you sure you want to edit this product?')"
                    >
                      Save
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        <!-- Add more rows for additional orders -->
      </tbody>
    </table>
  </div>
</div>

<!-- Add Order Modal -->
<div
  class="modal fade"
  id="addOrderModal"
  tabindex="-1"
  aria-labelledby="addOrderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOrderModalLabel">Add Order</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form to Add Order -->
        <form action="/insertOrder" method="post" id="order-form">
          <div class="mb-3">
            <label for="customerName" class="form-label">Customer Name</label>
            <input
              type="text"
              class="form-control"
              id="customerName"
              name="customer_name"
              placeholder="Enter customer name"
            />
          </div>

          <div class="mb-3">
            <label for="productName" class="form-label">Product Name &nbsp;</label>
            <select name="product_name" id="product_name">
              {% for product in products %}
              <option value="{{ product }}">{{ product }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              placeholder="Enter quantity"
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js_script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
