{% extends "base.html" %} {% block nav %}
<li class="nav-item list-group-item">
  <a class="nav-link" aria-current="page" href="/home">
    <img
      src="{{url_for('static', filename='/images/dashboard.png')}}"
      alt="dashboard"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Dashboard</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link active" href="/getProducts">
    <img
      src="{{url_for('static', filename='/images/products.png')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Products</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getCategories">
    <img
      src="{{url_for('static', filename='/images/categories.jpg')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Categories</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/orders">
    <img
      src="{{url_for('static', filename='/images/orders.png')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Orders</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getUsers">
    <img
      src="{{url_for('static', filename='/images/users.jpg')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Users</p>
  </a>
</li>
{% endblock %} {% block username %}
<h3>{{ username }}</h3>
{% endblock %} {% block role %}
<h5>Role: {{ role }}</h5>
{% endblock %} {% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
  </ol>
</nav>

<div class="main-container">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 10px; margin-top: -30px">
      MANAGE PRODUCTS
    </h2>
  </div>
  <hr />

  <!-- Search bar -->
  <div class="row">
    <div class="col-lg-6" style="width: 33%">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search Product"
          aria-label="Search Product"
          aria-describedby="searchButton"
          id="searchInput"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          id="searchButton"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Add product button -->

  <div class="row">
    <div class="col-lg-6" style="width: 33%">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Add New Product</strong> </em>
        </div>
        <div class="card-body">
          <form id="productForm" action="/insertProduct" method="post">
            <!-- <input type="hidden" name="id" id="id" value="0"> -->
            <div class="mb-3">
              <label for="productName" class="form-label">Product Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter product name"
                name="name"
                value=""
                required
              />
            </div>

            <div class="mb-3">
              <label for="uom">Choose a unit:</label>
              <select class="form-select" name="uom" id="uom" required>
                <option selected value="">
                  Select appropriate Unit for product
                </option>
                <hr style="margin-top: 5px; margin-bottom: 5px" />
                <option value="1">Each</option>
                <option value="2">Kg</option>
                <option value="3">Litre</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="productPrice" class="form-label"
                >Product Price per Unit</label
              >
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="Enter product price"
                name="price"
                value=""
                required
              />
            </div>

            <div class="mb-3">
              <label for="productStock" class="form-label"
                >Stock (No. of Units)</label
              >
              <input
                type="number"
                class="form-control"
                id="stock"
                placeholder="Enter no. of units"
                name="stock"
                value=""
                required
              />
            </div>

            <div class="mb-3">
              <label for="productCategory" class="form-label"
                >Category&nbsp;</label
              >
              <select name="category" id="category">
                <option>--Select--</option>
                <hr />
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Product" />
          </form>
        </div>
      </div>
    </div>

    <!-- Display product List -->

    <div class="col-lg-6" style="width: 67%">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Product List</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr style="border: 1px solid black">
                <th scope="col">Name</th>
                <th scope="col" style="display: none">Product ID</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Category</th>
                <th scope="col" colspan="2" style="text-align: center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr style="border: 1px solid black">
                <td>{{ product.name }}</td>
                <td style="display: none">{{ product.product_id }}</td>
                <td>{{ product.uom_name }}</td>
                <td>{{ product.price_per_unit }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.category }}</td>
                <td>
                  {% if role == 'admin' %}
                  <a href="editproduct.html">
                    <button type="button" class="btn btn-warning">Edit</button>
                  </a>
                  {% else %}
                  <button
                    type="button"
                    class="btn btn-warning"
                    {%
                    if
                    role!="admin"
                    %}
                    disabled
                    {%
                    endif
                    %}
                  >
                    Edit
                  </button>
                  {% endif %}
                </td>
                <td id="delete-product">
                  <form
                    id="deleteProductForm"
                    action="/deleteProduct"
                    method="post"
                  >
                    <input
                      type="text"
                      name="product_id"
                      value="{{ product.product_id }}"
                      style="display: none"
                    />
                    <input
                      class="btn btn-danger"
                      type="submit"
                      value="Delete"
                      onclick="return confirm('Are you sure you want to delete this product?')"
                      {%
                      if
                      role!="admin"
                      %}
                      disabled
                      {%
                      endif
                      %}
                    />

                    <!-- <button
                      type="submit"
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDeleteModal"
                    >
                      Delete
                    </button> -->
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Product Details Modal -->
    <div
      class="modal fade"
      id="productDetailsModal"
      tabindex="-1"
      aria-labelledby="productDetailsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header" id="modal-header">
            <h5 class="modal-title" id="modal-title">Product Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modal-body">
            <!-- Product details content will be displayed here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Delete Modal -->
  <div
    class="modal fade"
    id="confirmDeleteModal"
    tabindex="-1"
    aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">
            Confirm Delete
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this product?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-outline-danger">
            Confirm Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript to handle search and modal display
  document
    .getElementById("searchButton")
    .addEventListener("click", function () {
      // Fetch search input value
      const searchInput = document.getElementById("searchInput").value;

      const productsData = JSON.parse("{{ products | tojson | safe }}");

      // Function to search for a product by name
      function searchProductByName(products, productName) {
        for (let i = 0; i < products.length; i++) {
          if (
            products[i].name.toLowerCase().includes(productName.toLowerCase())
          ) {
            return products[i]; // Return the product if found
          }
        }
        return null; // Return null if product not found
      }

      // Function to display product details in modal
      function displayProductDetails(product) {
        // Get modal elements
        const modalTitle = document.getElementById("modal-title");
        const modalBody = document.getElementById("modal-body");

        // Set modal content
        modalTitle.innerText = product.name;
        modalBody.innerHTML = `
    <p><strong>Price per Unit:</strong> $${product.price_per_unit.toFixed(
      2
    )}</p>
    <p><strong>Stock:</strong> ${product.stock} ${product.uom_name}</p>
    <p><strong>Category:</strong> ${product.category}</p>
  `;

        $("#productDetailsModal").modal("show");
      }

      const foundProduct = searchProductByName(productsData, searchInput);
      if (foundProduct) {
        displayProductDetails(foundProduct);
      } else {
        console.log("Product not found!");
      }

      /*
      // Send AJAX request to Flask route
      fetch("/get_product_details", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: `search_input=${searchInput}`,
      })
        .then((response) => response.json())
        .then((data) => {
          // Update modal content with fetched product details
          document.querySelector(".modal-body").innerHTML = `
          <h5>Name: ${data.name}</h5>
          <p>Description: ${data.description}</p>
          <p>Price: ${data.price}</p>
          <p>Stock: ${data.stock}</p>
        `;

          // Display the product details modal
          $("#productDetailsModal").modal("show");
        })
        .catch((error) => console.error("Error:", error));

        */
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // JavaScript to handle form submission when confirming delete
  document
    .getElementById("deleteProductForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission
      const confirmed = confirm(
        "Are you sure you want to delete this product?"
      ); // Default confirm dialog
      if (confirmed) {
        this.submit(); // Submit the form if confirmed
      }
    });
</script>

{% endblock %} {% block js_script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="{{ url_for('static', filename='/js/manage_products.js') }}"></script> -->
{% endblock %}
