{% extends "base.html" %} {% block nav %}
<li class="nav-item list-group-item">
  <a class="nav-link" aria-current="page" href="/home">
    <img
      src="{{url_for('static', filename='/images/dashboard.png')}}"
      alt="dashboard"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Dashboard</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getProducts">
    <img
      src="{{url_for('static', filename='/images/products.png')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Products</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/getCategories">
    <img
      src="{{url_for('static', filename='/images/categories.jpg')}}"
      alt="Products"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Categories</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link" href="/orders">
    <img
      src="{{url_for('static', filename='/images/orders.png')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Orders</p>
  </a>
</li>
<li class="nav-item list-group-item">
  <a class="nav-link active" href="/getUsers">
    <img
      src="{{url_for('static', filename='/images/users.jpg')}}"
      alt="orders"
      style="
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 10px;
      "
    />
    <p style="display: inline-block; margin: 2px 0">Users</p>
  </a>
</li>
{% endblock %} 

{% block username %}
<h3>{{ username }}</h3>
{% endblock %}

{% block body %}

<div class="main-container">
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 10px; margin-top: -30px">
      MANAGE USERS
    </h2>
  </div>
  <hr />

  <!-- Add user button -->

  <div class="row">
    <div class="col-lg-6" style="width: 41.4%">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>Add New User</strong> </em>
        </div>
        <div class="card-body">
          <form id="userForm" action="/insertUser" method="post">
            <!-- <input type="hidden" name="id" id="id" value="0"> -->
            <div class="mb-3">
              <label for="userName" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Enter category name"
                name="username"
                value=""
                required
              />
            </div>
            <div class="mb-3">
              <label for="userRole" class="form-label">User Role &nbsp;</label>
              <select name="user_role">
                <option value="employee">Employee</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value=""
                  required
                />
              </div>
            <input class="btn btn-primary" type="submit" value="Add User" />
          </form>
        </div>
      </div>
    </div>

    <!-- Display product List -->

    <div class="col-lg-6" style="width: 58.6%">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-box me-1"></i>
          <em> <strong>All Users</strong> </em>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">User Role</th>
                <th scope="col" style="width: 22%;">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.user_role }}</td>
                <!-- <td style="text-align: center;">
                  <form action="/editUser" method="post">
                    <input
                      type="text"
                      name="user_id"
                      value="{{ user.user_id }}"
                      style="display: none"
                    />
                    <input
                      class="btn btn-warning"
                      type="submit"
                      value="Edit"
                      style="width: 80px;"
                    />
                  </form>
                </td> -->
                <td style="text-align: center;">
                  <form action="/deleteUser" method="post">
                    <input
                      type="text"
                      name="user_id"
                      value="{{ user.user_id }}"
                      style="display: none"
                    />
                    <input
                      class="btn btn-danger"
                      type="submit"
                      value="Remove"
                      onclick="return confirm('Are you sure you want to remove this user?')"
                    />
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js_script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="{{ url_for('static', filename='/js/manage_products.js') }}"></script> -->
{% endblock %}
